body{
    position: relative;
    background: #030426;
}

body > canvas{
    position: absolute;
    width: calc(320px * 3);
    max-width: 95%;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 5px;
    box-sizing: border-box;
}